#contact {
    color: blue;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
link {
    text-decoration: none;
}