body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

.calculator {
  width: 300px;
  background-color: #000;
  padding: 20px;
  border-radius: 20px;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

.screen {
  background-color: #000;
  color: white;
  font-size: 40px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  height: 60px;
  border: 1px solid #222;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 22px;
  cursor: pointer;
}

.gray {
  background-color: #a5a5a5;
  color: black;
}

.dark {
  background-color: #333333;
  color: white;
}

.orange {
  background-color: #ff9f0a;
  color: white;
}

.zero {
  grid-column: span 2;
  width: 130px;
  border-radius: 40px;
}
