body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  color: #333;
  line-height: 1.6;
}
header {
  background-color: #1e1d1d;
  color: white;
  text-align: center;
  padding: 40px 20px;
}
.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.section {
  padding: 80px 20px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: whitesmoke;
}
.section h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #1e1d1d;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 300px;
  padding: 20px;

}
.card h3 {
  margin-top: 0;
  color: #1e1d1d;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.form-input {
  width: 530px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}
textarea.form-input {
  height: 120px;
}
button {
  background-color: #1e1d1d;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 100px;
  width: 560px;
  font-size: 15px;
}
footer {
  text-align: center;
  padding: 25px;
  background-color: #1e1d1d;
  color: white;
  font-size: 15px;
}

